Kernel {$KVER} release

[u]Download[/u]: [url]{$DURL}[/url]

[u]Notes:[/u]
* This is upstream-based kernel release. Proprietary NVIDIA driver won't work with it.

* This kernel release [b]supports[/b] proprietary NVIDIA driver.

* Only HDMI output supported. Panel support starts from 3.14 kernel release.

* Due to the driver issue, WIFI will be lost after resume from suspend. Change your suspend util scripts to unload WIFI kernel module (brcmfmac) before suspend and reload after to workaround the issue. This issue should be fixed since 4.2.1+

* Let us know if you have any trouble or kernel config lacks some module/feature. Contributions are welcome!

[hr] Code sources:
[url]https://github.com/digetx/picasso_upstream_support[/url]
[url]https://bitbucket.org/digetx/picasso_upstream_support[/url]
Firmware blobs:
[url]https://github.com/digetx/picasso_build_scripts/tree/master/firmware[/url]
Downloads archive:
[url]https://bitbucket.org/digetx/picasso_upstream_support/downloads[/url]
